@font-face {
  font-family: NovoSquare;
  src: url(./NovaSquare-Regular.ttf);
}

html,
body {
  margin: 0px;
  font-family: NovoSquare;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

html::-webkit-scrollbar-track {
  background: rgb(112, 112, 112);
  border-radius: 3px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 3px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(176, 176, 176);
  border-radius: 3px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(176, 176, 176);
  border-radius: 3px;
}

.section {
  margin-bottom: 100px;
}

.section-element {
  padding-top: 100px;
  padding-bottom: 100px;
  clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
  height: 400px;
  margin-bottom: -65px;
  position: relative;
  color: black;
  border-left: 5px solid;
  border-right: 5px solid;
}

.element-content {
  margin-top: -20px;
  width: 55%;
  text-align: center;
}

.right .element-content {
  float: right;
}

h3 {
  padding: 10px;
}

.left {
  right: 0px;
  left: unset !important;
  background-position: right;
}

.img {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-attachment: fixed;
  height: 200%;
  width: 45%;
  border-right: 5px solid black;
  border-left: 5px solid black;
  background-size: calc(45% + 5px);
  background-repeat: no-repeat;
  background-color: black;
}

.cyan {
  background-color: cyan;
}

.cyan a,
.orange a {
  color: blueviolet;
}

.grey {
  background-color: grey;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.grey a {
  color: yellow;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.skill-yellow,
.skill-green,
.skill-blue,
.skill-pink,
.skill-brown {
  padding: 5px;
  margin-top: 5px;
  border-radius: 50px;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.skill-yellow {
  background: yellow;
  color: black;
}

.skill-green {
  background: lime;
  color: black;
}

.skill-pink {
  background: pink;
  color: black;
}

.skill-blue {
  background: blue;
  color: white;
}

.skill-brown {
  background: #965e36;
  color: white
}

.about-content {
  max-width: 800px;
  height: 361px;
  padding-bottom: 0px;
}

.languages {
  line-height: 2.5;
  max-width: 800px;
}

.hireme-container {
  border-top: 1px solid grey;
  max-width: 1200px;
  padding: 20px;
}

.contact-info {
  background: #1f1f1f;
  color: white;
  padding: 10px;
}

p {
  padding: 50px;
}

@media only screen and (max-width: 800px), only screen and (max-height: 600px) {
  .about-content .skill-yellow,
  .about-content .skill-green,
  .about-content .skill-blue,
  .about-content .skill-pink,
  .about-content .skill-brown,
  .img {
    display: none;
  }

  .element-content {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .about-content {
    margin-bottom: 150px;
    margin-top: -50px;
  }
}
